<div class="row">
  <div class="col">
    <h2 style="color:white;">Velkommen</h2>
    <img
      src="https://cdn2.downdetector.com/static/uploads/logo/Discord_logo.png"
      alt="Italian Trulli"
    />
  </div>
</div>

<h3 style="color:white;">Bot Beskrivelse</h3>

<p>
  <br />
  1. Selfbotten kan backup alle dine venners UserID. <br />
  2. Selfbotten kan så tilføje dine venner automatisk fra en tidligere backup.
  <br />
  3. Selfbotten kan gemme alle beskeder i hver server / privat besked i en
  tekstfil. <br />
  4. Selfbotten kan clear din friendlist altså slette alle dine venner.
  <br />
  5. Selfbottem kan slette brugernes beskeder. <br />
  6. Selfbotten kan sende tilfældige billeder af en Shiba. <br />
  7. Selfbotten kan joine opkald og afspille musikfiler. <br />
  8. Selfbotten kan tælle specifikke ord.<br />
</p>

<app-links></app-links>
